<div class="card" fxLayout="row" fxLayoutAlign="space-between stretch">
            <div class="card-1" fxFlex="25">
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex="20">
                              <mat-icon>queue_play_next</mat-icon>
                        </div>
                        <div fxFleX>
                              <h2>Patient In Queue</h2>
                        </div>
                  </div>
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="100">
                              <h1>{{patientOnQueueCount}}</h1>
                        </div>
                  </div>
            </div>
            <div class="card-2" fxFlex="25">
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex="20">
                              <mat-icon>beenhere</mat-icon>
                        </div>
                        <div fxFleX>
                              <h2>Completed Patient</h2>
                        </div> 
                  </div>
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="100">
                              <h1>{{patientCompleted}}</h1>
                        </div>
                  </div>
            </div>
            <div class="card-3" fxFlex="25">
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex="20">
                              <mat-icon>hourglass_empty</mat-icon>
                        </div>
                        <div fxFleX>
                              <h2>Patient On Hold</h2>
                        </div>
                  </div>
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="100">
                              <h1>{{patientOnHoldCount}}</h1>
                        </div>
                  </div>
            </div>
            <div class="card-4" fxFlex="25">
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex="20">
                              <mat-icon>vaccines</mat-icon>
                        </div>
                        <div fxFleX>
                              <h2>Doctor Status</h2>
                        </div>
                  </div>
                  <div class="card-icon" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="100" *ngIf="doctorCheck == 0">
                              <h1>Free</h1>
                        </div>
                        <div fxFlex="100" *ngIf="doctorCheck == 1">
                              <h1>Busy</h1>
                        </div>
                  </div>
            </div>
</div>
<div fxLayout="column" fxLayoutAlign="space-around stretch"> 
      <div fxFlex="90" class="home-img">
                  <img src="../../../assets/img/doctor.png" alt="" srcset="">
      </div>
      <div fxFlex>
            <div class="footer">
                  developed with<mat-icon>favorite</mat-icon>By Rashid Altayeb Hassan
            </div>
      </div>
</div>
