::ng-deep .my-custom-panel {
      width: 40%;
}
.pro-container h1{
      font-size: 16px;
}
.pro-container Mat-form-field {
      font-size: 16px;
      font-weight: 400;
      width: 70%;
}
.pro-container mat-form-field mat-label {
      color: #c9c8c8;
}
.pro-container button {
      font-size: 14px;
      width: 70%;
      margin-top: 20px;
      align-items: center;
}