mat-label,
input,
button,
table,
th,
td {
      font-size: 16px;
}

.mat-raised-button {
      color: #1F9F84;
      width: 100%;
}

.container {
      max-width: 1200px;
      height: 98%;
      margin: 0, auto;
      padding: 20px;
}

table {
      width: 100%;
}

.mat-form-field {
      font-size: 14px;
      width: 100%;
}