mat-label,
input,
button,
table,
th,
td {
      font-size: 16px;
}
.mat-button {
      background-color: #1F9F84;
      color: #f5f5f5;
}

.container {
      max-width: 1200px;
      margin: 0, auto;
      padding: 20px;
}

table{
      width: 100%;
}

.action .mat-raised-button {
      color: brown;
      width: 30%;
}

.action-start .mat-raised-button {
      width: 30%;
}

.mat-form-field {
      font-size: 14px;
      width: 100%;
}
.lottie{
      margin: 5em;
      text-align: center;
}
h3{ 
      margin-top: 20px;
}
.mat-card h2{
      color: #1F9F84;
}
.mat-card-title h3 span{
      font-size: 18px;
      font-weight: 500;
}
.mat-card-content h2{
      color: #1F9F84;
}
.mat-card-content h3 {
      font-size: 18px;
      font-weight: 400;
}
.mat-card-content h3 span {
      font-size: 18px;
      font-weight: 500;
}