<mat-toolbar color="primary">
      <mat-toolbar-row>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
            </button>
            <span>Queue System</span>
      </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="10" style="background-color: #DDD; padding: 20px; height: 100vh;"> 
            <button mat-raised-button style="margin-bottom: 10px;">Basic</button> 
            <mat-divider></mat-divider>
            <button mat-raised-button style="margin-bottom: 10px;">services</button>
            <mat-list>
                  <mat-list-item>services</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>patient</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 3</mat-list-item>
            </mat-list>
      </div>
      <div fxFlex style="background-color: #000; padding: 20px; color: aliceblue;"> second section </div>
      <!-- <div fxFlex style="background-color: rgb(185, 13, 13); padding: 20px;"> third section</div> -->
</div>