<mat-toolbar color="primary">
      <mat-toolbar-row>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
            </button>
            <span>Queue System</span>
      </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-between">
      <div class="sidenav" fxFlex="10" fxLayout="column">
                  <div fxFlex="30">
                        <app-side-nav></app-side-nav>
                  </div>
                  <div fxFlex="40" > </div>
                  <div fxFlex="30">  </div>
      </div>
      <div class ="main-component" fxFlex>
            <router-outlet></router-outlet>
      </div>
</div>