<mat-list>
      <mat-list-item routerLink=""><button mat-raised-button>Home</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="service"><button mat-raised-button>Service</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="patient"><button mat-raised-button>Patient </button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="waiting"><button mat-raised-button>Waiting </button></mat-list-item>
</mat-list>
