/* You can add global styles to this file, and also import other style files */
:root{
      --main-color : #1F9F84;
      --background-color : #f5f5f5;
}     
html, body { 
      height: 100%; 
}
body {
      font-family: Roboto, "Helvetica Neue", sans-serif;
      margin: 0; 
}
.color-snackbar {
      font-size: 16px;
      font-weight: 500;
      background-color: var(--main-color);
      color: var(--background-color);
}
.color-snackbar button {
      background-color: var(--background-color);;
      color: #000;
}
.error-snackbar {
      font-size: 16px;
      font-weight: 500;
      background-color: #FB6107;
      color:var(--background-color);;
}
.error-snackbar button {
      font-size: 16px;
      font-weight: bold;
      border-radius: 10%;
      background-color: var(--background-color);;
      color: #000;
}
